In [2]:
#!pip install pyproj
#!pip install folium

Requirement already satisfied: pyproj in c:\programdata\miniconda3\lib\site-packages (2.2.1)

WARNING: You are using pip version 19.1.1, however version 19.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [32]:
from pyproj import Proj, transform
import numpy as np
import pandas as pd
import folium
import time

In [6]:
proj_UTMK = Proj(init='epsg:5179')
proj_WGS84 = Proj(init='epsg:4326')

x1, y1 = 961114.519726,1727112.269174
x2, y2 = transform(proj_UT
                   map_1 = folium.Map(location=[121.591159089018, 22.5374251671609],
                  tiles='Stamen Terrain', zoom_start=13)
#map_1MK,proj_WGS84,x1,y1)
print(x2,y2)
map_1 = folium.Map(location=[121.591159089018, 22.5374251671609],
                  tiles='Stamen Terrain', zoom_start=13)
#map_1

In [33]:
# Change coordinate system
# korea 2000/central belt 2010 (epsg:5186) to wgs84(epsg:4326)

def Merges(list1, list2):
    
    a = pd.DataFrame(list1)
    b = pd.DataFrame(list2)
    
    c = pd.merge(a,b, on = a.index)
    c.columns = range(c[c.index==0].size)
    c.set_index(c[0])
    c=c.drop(0,1)
    
    return c

In [34]:
# grs80x,grs80y 각각의 리스트를 입력
# 해당하는 좌표의 경도,위도 데이터 프레임을 출력하는 함수

def Transform(xs,ys):
    
    inProj = Proj(init = 'epsg:5186')
    outProj= Proj(init = 'epsg:4326')
    
    nys=[]
    nxs=[]
    
    now=0
    tmp=0
    
    for i in range(len(xs)):
        x = xs[i]
        y = ys[i]
        #<grs80x>391265.163647</grs80x>
        #<grs80y>297630.026461</grs80y>
        nx,ny = transform(inProj,outProj,x,y)     # 새로운 좌표계 
        
        now = int(i/len(xs)*100) # 진행상황 %
        if(now>tmp): # 중복된 %는 출력 안함
            print('%3d%%' % now, end='', flush = True)
        
        tmp = now 
        
        nxs.append(nx)
        nys.append(ny)
     
    print('')
    return Merges(nys,nxs)

In [35]:
df1 = pd.read_csv('conzone1.csv',sep=',',encoding='CP949')
df1 = df1.drop('Unnamed: 0',1)
df1.tail(5)

            콘존ID 방향         grs80x         grs80y  노선번호    노선명
6296  0651CZS020  S  391781.985790  300706.429758  6000  부산외곽선
6297  0651CZS020  S  394217.087114  300967.365352  6000  부산외곽선
6298  0651CZS020  S  396442.483513  300452.901763  6000  부산외곽선
6299  0651CZS020  S  398212.104873  300131.860622  6000  부산외곽선
6300  0651CZS020  S  400375.310511  300499.846211  6000  부산외곽선

In [36]:
####################################
'''
xs=[]
ys=[]

for i in range(7500):
    xs.append(391265.163647)
    ys.append(297630.026461)
    
df1 = Merges(xs,ys)
df1.columns=['grs80x','grs80y']
'''
###################################

start=time.time()

df2 = Transform(df1['grs80x'],df1['grs80y'])

end = time.time()
print('%d초 걸림'%(int(end-start)))


df2.tail(5)

  1%  2%  3%  4%  5%  6%  7%  8%  9% 10% 11% 12% 13% 14% 15% 16% 17% 18% 19% 20% 21% 22% 23% 24% 25% 26% 27% 28% 29% 30% 31% 32% 33% 34% 35% 36% 37% 38% 39% 40% 41% 42% 43% 44% 45% 46% 47% 48% 49% 50% 51% 52% 53% 54% 55% 56% 57% 58% 59% 60% 61% 62% 63% 64% 65% 66% 67% 68% 69% 70% 71% 72% 73% 74% 75% 76% 77% 78% 79% 80% 81% 82% 83% 84% 85% 86% 87% 88% 89% 90% 91% 92% 93% 94% 95% 96% 97% 98% 99%272초 걸림

              1           2
6296  35.284588  129.108007
6297  35.286469  129.134818
6298  35.281401  129.159141
6299  35.278161  129.178501
6300  35.281045  129.202351

In [56]:
col_v = df1.columns.values
col_v = np.append(col_v,['위도','경도'])

df3= Merges(df1,df2)
df3.columns=col_v
df3.tail(5)

,콘존ID,방향,grs80x,grs80y,노선번호,노선명,위도,경도
6296,0651CZS020,S,391781.985790,300706.429758,6000,부산외곽선,35.284588,129.108007
6297,0651CZS020,S,394217.087114,300967.365352,6000,부산외곽선,35.286469,129.134818
6298,0651CZS020,S,396442.483513,300452.901763,6000,부산외곽선,35.281401,129.159141
6299,0651CZS020,S,398212.104873,300131.860622,6000,부산외곽선,35.278161,129.178501
6300,0651CZS020,S,400375.310511,300499.846211,6000,부산외곽선,35.281045,129.202351

In [57]:
df3.to_csv(r'acc_conzone.csv',encoding="CP949")

In [ ]:
# Change coordinate system
# korea 2000/central belt 2010 (epsg:5186) to wgs84(epsg:4326)
inProj = Proj(init = 'epsg:5186')
outProj= Proj(init = 'epsg:4326')
latitude = []
longitude= []
for idx,row in node_dataframe.iterrows():
    x,y  = row.coords[0][0],row.coords[0][1]  # korea 2000 좌표계
    nx,ny = transform(inProj,outProj,x,y)     # 새로운 좌표계    
    latitude.append(ny)
    longitude.append(nx)
node_dataframe['latitude'] = latitude
node_dataframe['longitude']= longitude
del node_dataframe['coords'] # delete coords