In [1]:
import pandas as pd
import numpy as np
import time

In [20]:
# 고속도로 사고 데이터

df = pd.read_csv('acc_highway2.csv',sep=",")
df= df.set_index('Unnamed: 0')
print(len(df))
df.head(1)

31556

,발생시간,메세지,경도,위도
Unnamed: 0,,,,
0,2014-12-01 06:49:02,경인고속도로 부천-신월 3차로 추돌사고 지체 -,126.826106822352,37.5225191751392

In [14]:
# 콘존ID - 콘존명 데이터

df = pd.read_csv('czid_to_gugan.txt',sep="\t",encoding='CP949')

cols = df.columns
cols = cols[0].split(',')

df.index = range(len(df))
df.columns=range(1)

df = df[0].str.split(',',n=12,expand=True)
df.columns = cols
print(len(df))
df.head(1)

1438

,콘존ID,콘존길이,기점종점방향구분코드,시작노드ID,종료노드ID,차로수,노선번호,제한속도,노선구성순번,콘존명,버스전용차로유무,도로등급구분코드
0,0010CZE005,200.00,E,0491,0004,3,0010,100.00,1,경부고속국도시점-구서IC,0,101

In [18]:
c = [0,2,3,4,6,8,9,11]
tmp = []
for i in c:
    tmp.append(cols[i])
df2 = df[tmp]
df2.tail(5)

            콘존ID 기점종점방향구분코드 시작노드ID 종료노드ID  노선번호 노선구성순번          콘존명 도로등급구분코드
1433  6000CZS050          S   0668   0667  6000      5  김해가야Hi-대감JC      101
1434  6000CZS060          S   0669   0668  6000      4  노포JC-김해가야Hi      101
1435  6000CZS070          S   0670   0669  6000      3    금정IC-노포JC      101
1436  6000CZS080          S   0671   0670  6000      2  기장철마IC-금정IC      101
1437  6000CZS090          S   0672   0671  6000      1  기장JC-기장철마IC      101

In [38]:
ic1=0
ic2=0
ic3=0
for msg in df['메세지']:
    
    msg = msg.upper()
    if 'IC' in msg:
        tmp = msg.split('IC')
        if len(tmp)==1:
            ic1+=1
        elif len(tmp)==2:
            ic2+=1
        elif len(tmp)>=3:
            ic3+=1
print(ic1,ic2,ic3)
print(ic1+ic2+ic3 ,' : 18967')

0 9570 9397
18967  : 18967

In [ ]:
'''
고속도로 사고건수 중
IC로 분류 : 18967
JC로 분류 : 8668
IC도 있고 JC도 있음 : 5583
'''

In [30]:
jc2-jc

5583

In [91]:
highway = []

for msg in df['메세지']:
    
    msg=msg.upper()
    arr=msg.split()
    for a in arr:
        if '고속도로' in a:
            highway.append(a)
            if '방면' in a:
                #print(msg)
                #나중에 지워야하는 자료임
            break
hway = []
for i in highway:
    a = i.split('고속')[0]
    hway.append(a)
#hway = list(set(hway))

print(len(df))
print(len(hway))
print(len(highway))

각화로 문화사거리에서 고속도로방면 2차로  사고 주의운전 -
동문대로 문화사거리에서-> 고속도로방면 차량정체로 교통불편 지체 -
신창로161번길 신창 고속도로순천방면 1차로 차대차 교통사고 -
단풍로 호남고속도로광주방면 천안 2차로 주의운전 차량고장 -
서해대로30번길 내트럭하우스 인천김포고속도로방면 3차로 주의운전 차량고장 -
서울외곽순환고속도로(일산방면)84KM 서운에서 계양 3차로 주의운전 차량화재 -
31556
31556
31556

0

In [209]:

a ='''<option value="001">경부선</option>
<option value="010">남해선</option>
<option value="012">무안광주ㆍ광주대구선</option>
<option value="015">서해안선</option>
<option value="016">울산선</option>
<option value="020">익산포항선</option>
<option value="025">호남선</option>
<option value="027">순천완주선</option>
<option value="030">당진영덕선</option>
<option value="035">통영대전ㆍ중부선</option>
<option value="037">제2중부선</option>
<option value="040">평택제천선</option>
<option value="045">중부내륙선</option>
<option value="050">영동선</option>
<option value="055">중앙선</option>
<option value="060">서울양양선</option>
<option value="065">동해ㆍ울산포항선</option>
<option value="100">서울외곽순환선</option>
<option value="102">남해제1지선</option>
<option value="104">남해제2지선</option>
<option value="110">제2경인선</option>
<option value="120">경인선</option>
<option value="151">서천공주선</option>
<option value="251">호남선의지선</option>
<option value="253">고창담양선</option>
<option value="300">대전남부순환선</option>
<option value="451">중부내륙선의지선</option>
<option value="551">중앙선의지선</option>
<option value="600">부산외곽순환선</option>'''
a =a.split('>')
c=[]
for aa in a:
    b=aa.split('<')
    c.append(b)
nosun=[]
for aa in c:
    for aaa in aa:
        if '선' in aaa:
            nosun.append(aaa)

a='''
<option value="J017">평택화성ㆍ수원광명선</option>
<option value="J025">논산천안선</option>
<option value="J029">세종포천선(구리~포천)</option>
<option value="J032">옥산오창선</option>
<option value="J052">광주원주선</option>
<option value="J055">중앙선(부산~대구)</option>
<option value="J060">서울양양선(강일~춘천)</option>
<option value="J065">동해선(부산~울산)</option>
<option value="J100">서울외곽순환선(일산~퇴계원)</option>
<option value="J105">남해제3지선(부산항신항선)</option>
<option value="J110">제2경인선</option>
<option value="J130">인천국제공항선</option>
<option value="J153">평택시흥선</option>
<option value="J171">용인서울ㆍ오산화성선</option>
<option value="J301">상주영천선</option>
<option value="J400">수도권제2순환선</option>
</select>
'''
a =a.split('>')
c=[]
for aa in a:
    b=aa.split('<')
    c.append(b)
nosun2=[]
for aa in c:
    for aaa in aa:
        if '선' in aaa:
            nosun2.append(aaa)
nosun = nosun + nosun2

In [213]:
keyword = []
for ns in nosun:
    keyword.append(ns[:2])
keyword = list(set(keyword))
len(keyword)

30

In [214]:
tmp = pd.DataFrame(keyword,keyword)
a= tmp.index.values

tmp.index = range(len(tmp))
tmp.columns=[0]
tmp[1] = 0

for k in keyword:
    for h in hway:
        if k in h:
            tmp[1][tmp[0]==k]+=1
tmp

c:\program files (x86)\microsoft visual studio\2019\community\common7\ide\extensions\microsoft\python\miniconda\miniconda3-x64\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

     0     1
0   평택   837
1   익산   149
2   무안    69
3   수도    21
4   순천   109
5   영동  3281
6   당진   156
7   인천   279
8   울산   111
9   부산   337
10  광주   241
11  서울  6126
12  중앙   816
13  중부  2877
14  동해    57
15  호남   682
16  옥산     0
17  논산   200
18  경부  7410
19  상주   137
20  대전   305
21  서해  2975
22  통영   167
23  세종     0
24  제2  1558
25  고창    14
26  경인  1662
27  서천    42
28  용인    44
29  남해  1870

In [215]:
sum(tmp[1])

32532